/* Add application styles & imports to this file! */
.container {
  margin: auto;
  width: 80%;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}
img {
  width: 50px;
}
p {
  background-color: rgb(236, 236, 112);
  padding: 5px;
  font-size: 17px;
  color: red;
}
